@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Source+Code+Pro');
body{
	margin:0px;
}
.todo{
	background-color: #f1c40f;
	height: 110px;
	width: 100%;
	 display: flex;
   justify-content: center;
    font-family: 'Abril Fatface', cursive;
}
.todo a{
padding: 16px;
display: block;
float:left;
margin-left: 300px;	
color:white;
text-decoration: none;
padding-top: 40px;
}
.todo a:hover{
	 /*display: flex;*/
   /*justify-content: center;*/
   align-items: center;
   color:#1e8449;
   border-bottom: 1px solid #1e8449;
}
.hola{
	margin-right: 190px;
	margin-left: 160px;
	padding:15px;
}

.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menuCSS3 a {
		display: block;
		padding: 2em;
		background-color: #f1c40f;
		text-decoration: none;
		color: #191C26;
	}
	.menuCSS3 a:hover {
		background-color: #f1c40f;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}